[submodule "applications/virtual-fly-brain/backend/virtual_fly_brain/libs/VFBquery"]
	path = applications/virtual-fly-brain/backend/virtual_fly_brain/libs/VFBquery
	url = https://github.com/VirtualFlyBrain/VFBquery
