{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "env": {
        "production": {
            // Remove the minify preset and add individual minification plugins
            "plugins": [
                "babel-plugin-transform-remove-console", // Remove console logs
                "babel-plugin-minify-dead-code-elimination", // Remove dead code
                "babel-plugin-minify-constant-folding", // Fold constants
                "babel-plugin-transform-remove-debugger" // Remove debugger statements
            ]
        }
    },
    "plugins": [
        "@babel/transform-regenerator",
        "@babel/plugin-proposal-class-properties",
        "@babel/transform-runtime",
        [
            "module-resolver",
            {
                "root": ["./src"]
            }
        ]
    ]
}